<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="https://render.githubusercontent.com/view/pdf?commit=8ebc1051ab29cdd17389c7357b935898ae6ddc0b&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f6a75616e6373686572726572612f526573756d652f386562633130353161623239636464313733383963373335376239333538393861653664646330622f6943564a75616e486572726572612e706466&nwo=juancsherrera%2FResume&path=iCVJuanHerrera.pdf&repository_id=182439317&repository_type=Repository#a7520783-362e-4414-85d8-88ef436eb710">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="https://github.com/juancsherrera">Code</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jsh501@nyu.edu">email</a></li>
	        		<li><a href="https://github.com/juancsherrera">github.com/juancsherrera</a></li>
				</ul>
			</footer>
		</body>
	</html>
