<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="https://juancsherrera.github.io/about">About</a></li>
				
	        		<li><a href="Industry_CV_2020_Juan_C_S_Herrera.png">Industry CV</a></li>
				
				<li><a href="CV_JUAN_HERRERA_2020_AC.png">Academic CV</a></li>
				
				<li><a href="https://github.com/juancsherrera">Code</a></li>
	    		</ul>
			</nav>
			
			<img src="https://github.com/juancsherrera/Sustainable-Recipes/raw/master/example1.jpg" width="820" height="360">
			
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				<embed src-“https://github.com/juancsherrera/Resume/raw/master/CV_JUAN_HERRERA_2020_AC.pdf
” width=”600” height=”500”> </embed>

				
	        		<li><a href="mailto:jsh501@nyu.edu">email</a></li>
	        		<li><a href="https://github.com/juancsherrera">github.com/juancsherrera</a></li>
				</ul>
			</footer>
		</body>
	</html>
